# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

# Org-mode
.org-id-locations
*_archive

# flymake-mode
*_flymake.*

# eshell files
/eshell/history
/eshell/lastdir

# elpa packages
/elpa/

# reftex files
*.rel

# AUCTeX auto folder
/auto/

# cask packages
.cask/
dist/

# Flycheck
flycheck_*.el

# server auth directory
/server/

# projectiles files
.projectile

# directory configuration
.dir-locals.el

# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## Build generated
build/
DerivedData/

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/

## Other
*.moved-aside
*.xccheckout
*.xcscmblueprint

.DS_Store


Section_03/BuildingEscape/Binaries
Section_03/BuildingEscape/Build
Section_03/BuildingEscape/DerivedDataCache
Section_03/BuildingEscape/Intermediate
Section_03/BuildingEscape/Saved
Section_03/BuildingEscape/Content/StarterContent/Textures
Section_03/BuildingEscape/Content/StarterContent/HDRI

*_BuiltData.uasset
##*/Content/StarterContent/*

**/xcuserdata
contents.xcworkspacedata

Section_04/BattleTank/Binaries
Section_04/BattleTank/Build
Section_04/BattleTank/DerivedDataCache
Section_04/BattleTank/Intermediate
Section_04/BattleTank/Saved
Section_04/BattleTank/Content/StarterContent/Textures
Section_04/BattleTank/Content/StarterContent/HDRI
section_04/BattleTank/Content/StarterContent
